.menu-photos {
    height: 100%;
    .input {
        @include mainTextarea;
        width: 299px;
        margin-top: 18px;
        justify-content: center;
        align-items: center;
        margin-left: 6px;

        > input {
            box-sizing: border-box;
            width: calc(100% - 16px);
            justify-content: center;

            align-items: center;
        }
    }

    .photos {
        height: calc(100vh - 200px);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // justify-content: center;
        padding-right: 4px;
        box-sizing: border-box;

        // max-height: 100%;
        gap: 8px;
        margin-top: 15px;
        overflow-y: scroll;

        img {
            object-fit: cover;
            object-position: center;

            width: 144px;
            height: 96px;
            border-radius: 8px;

            @include hover-supported {
                cursor: pointer;
                box-shadow: inset 100px 100px 100px 100px rgba(255, 255, 255, 0.267);
            }
        }
    }

    .back-btn {
        position: absolute;
        top: 18px;
        z-index: 44;
        width: 15px;
        left: 24px;
        padding: 0;
        img {
            height: 15px;
            width: 30px;
        }
        @include hover-supported {
            background-color: unset;
        }
    }
}
