@mixin primaryInput {
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fafbfc;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px 12px;
    margin: 4px 0 4px;

    &:hover:not(:focus) {
        background-color: #ebecf0;
    }

    &:focus {
        box-shadow: inset 0 0 0 2px $boxShadowMain;
    }
}

@mixin mainTextarea {
    width: 100%;

    textarea {
        @content;
        display: flex;
        border: none;
        border-radius: 3px;
        padding: 8px 12px;
        text-decoration: none;
        color: $textClr;
        overflow: hidden;
        resize: none;

        &::placeholder {
            color: $textClr;
            font-size: 14px;
        }

        &:focus {
            background-color: #fff;
            outline: none;
            box-shadow: inset 0 0 0 2px $boxShadowMain;

            &::placeholder {
                color: $secondaryTitle;
                font-weight: 600;
            }
            @include hover-supported {
                background-color: #fff;
            }
        }
    }
}
